// .example-container {
//   width: 500px;
//   height: 300px;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

mat-sidenav-content {
  padding: 10px;
  box-sizing: border-box;
}

.example-container {
  display: flex;
  // flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.testManu {
    main {
      background: #24c2f1;
      width: 60px;
      ul {
        justify-content: center;
        align-items: center;
        height: 100%;
        li {
          text-align: center;
          align-items: center;
        }
      }
    }
    section {
      width: 150px;
      h4 {
        padding: 10px;
        margin: 0;
      }
      ul {
        li {
          padding: 10px;
          &.active {
            background: #a9bd92;
          }
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      li {
        padding: 10px 0;
        width: 100%;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
